* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(94, 94, 165);
}
h1 {
  font-size: 50px;
}
.none {
  visibility: hidden;
}
#meridian {
  margin-top: 30px;
  font-size: 2rem;
}
.navbar {
  display: flex;
  height: 5vh;
}
.navbar .logo {
  width: 100%;
  padding: 10px;
}
.navbar .logo a {
  color: white;
  padding: 0;
  opacity: 0.5;
  margin-left: 8px;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}
.container .date,
.container .time {
  padding: 20px;
  /* background: rgba(68, 38, 216, 0.288); */
  padding: 40px 20px;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .date i,
.container .time i {
  font-size: 20px;
  opacity: 0.5;
}
a:hover,
i:hover {
  cursor: pointer;
  animation: animate1 0.5s forwards;
}
.container h1 {
  padding: 5px;
  opacity: 0.9;
  text-shadow: 2px 2px 1px black;
}
@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 10px;
}
footer h3 {
  padding-left: 20px;
}
footer span {
  font-size: 10px;
}
footer .cpw,
footer .rr,
footer .contact h3 {
  opacity: 0.5;
}
footer .contact a {
  opacity: 0.5;
}
footer .contact {
  display: flex;
}
footer .contact a {
  padding: 1px 5px;
  color: white;
}
.fa-mobile-alt {
  margin-right: 20px;
}
a:hover,
footer h3 a i:hover {
  animation: animate1 0.5s forwards;
}
@keyframes animate1 {
  to {
    opacity: 1;
  }
}
